<div class="container">
  <h2>Links</h2>
  <table class="table table-striped" style="width:50%;">
    <tbody>
      <tr>
        <td><%= link_to "Administrator", connect_user_path("Administrator"), :class => 'btn btn-default btn-small' %></td>
      </tr>  
      <tr>
        <td><%= link_to "Patron", connect_user_path("Patron"), :class => 'btn btn-default btn-small' %></td>
      </tr>  
    </tbody>
  </table>
</div>
<div class="clear"></div>

 
